/* ========== Text Styles ========== */
hr { color: #000000}
.main-content, .main-content table span.rvts0 /* Normal text */
{
 font-size: 10pt;
 font-family: 'Arial', 'Helvetica', sans-serif;
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
span.rvts1 /* Heading */
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts2 /* Subheading */
{
 font-weight: bold;
 color: #000080;
}
span.rvts3 /* Keywords */
{
 font-style: italic;
 color: #800000;
}
a.rvts4, span.rvts4 /* Jump 1 */
{
 color: #008000;
 text-decoration: underline;
}
a.rvts5, span.rvts5 /* Jump 2 */
{
 color: #008000;
 text-decoration: underline;
}
span.rvts6
{
 font-family: 'Verdana', 'Geneva', sans-serif;
}
span.rvts7
{
 font-size: 13pt;
 font-weight: bold;
 color: #4f81bd;
}
span.rvts8
{
 font-size: 13pt;
 font-family: 'Verdana', 'Geneva', sans-serif;
 color: #bf6100;
}
span.rvts9 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #c0c0c0;
}
a.rvts10, span.rvts10 /* Font Style */
{
 font-family: 'Tahoma', 'Geneva', sans-serif;
 font-style: italic;
 color: #6666ff;
 text-decoration: underline;
}
span.rvts11
{
}
span.rvts12
{
 font-weight: bold;
 color: #0000ff;
}
span.rvts13
{
 font-weight: bold;
 color: #000080;
}
span.rvts14
{
 font-style: italic;
 color: #800000;
}
a.rvts15, span.rvts15
{
 color: #008000;
 text-decoration: underline;
}
span.rvts16
{
 font-size: 20pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #ffc000;
}
span.rvts17
{
 font-size: 14pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-weight: bold;
 color: #000000;
}
span.rvts18
{
 font-size: 11pt;
}
span.rvts19
{
 font-size: 11pt;
}
span.rvts20
{
 font-size: 11pt;
}
span.rvts21
{
 font-size: 11pt;
 color: #000000;
}
span.rvts22
{
 font-size: 11pt;
 font-weight: bold;
 color: #000000;
}
span.rvts23
{
 font-size: 14pt;
 font-weight: bold;
 color: #365f91;
}
span.rvts24
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
}
span.rvts25
{
 font-size: 11pt;
 font-weight: bold;
 color: #ffffff;
}
span.rvts26
{
 font-size: 11pt;
 font-weight: bold;
 color: #ffffff;
}
span.rvts27
{
 font-size: 11pt;
 font-style: italic;
 font-weight: bold;
}
span.rvts28
{
 font-size: 11pt;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts29
{
 font-size: 11pt;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts30
{
 font-style: italic;
}
span.rvts31
{
 font-style: italic;
}
span.rvts32
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
}
a.rvts33, span.rvts33
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts34
{
 font-size: 11pt;
 font-family: Symbola, 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
}
span.rvts35
{
 font-size: 11pt;
 font-weight: bold;
}
span.rvts36
{
 font-size: 11pt;
 font-style: italic;
}
span.rvts37
{
 font-size: 11pt;
 font-style: italic;
}
span.rvts38
{
 font-size: 11pt;
 font-style: italic;
}
span.rvts39
{
}
span.rvts40
{
}
span.rvts41
{
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
}
span.rvts42
{
 font-family: 'Times New Roman', 'Times', serif;
}
span.rvts43
{
 font-size: 6pt;
}
span.rvts44
{
 font-size: 11pt;
 background-color: #ffffff;
}
span.rvts45
{
 font-size: 11pt;
 background-color: #ffffff;
}
span.rvts46
{
 font-size: 11pt;
 font-family: Symbola, 'Arial Unicode MS', 'Lucida Sans Unicode', 'Arial', 'Helvetica', sans-serif;
 background-color: #ffffff;
}
span.rvts47
{
 font-size: 11pt;
 background-color: #ffffff;
}
span.rvts48
{
 font-size: 11pt;
 font-weight: bold;
 background-color: #ffffff;
 text-decoration: underline;
}
span.rvts49
{
 font-size: 11pt;
 font-weight: bold;
 background-color: #ffffff;
 text-decoration: underline;
}
span.rvts50
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts51
{
 font-size: 11pt;
 font-family: 'Times New Roman', 'Times', serif;
 font-style: italic;
}
span.rvts52
{
 font-size: 12pt;
 color: #000000;
}
span.rvts53
{
 font-size: 12pt;
 color: #000000;
}
a.rvts54, span.rvts54
{
 font-size: 11pt;
 color: #0000ff;
 text-decoration: underline;
}
span.rvts55
{
 font-size: 12pt;
}
span.rvts56
{
 font-size: 12pt;
 font-weight: bold;
 text-decoration: underline;
}
span.rvts57
{
 font-style: italic;
}
span.rvts58
{
 font-size: 11pt;
 font-weight: bold;
 color: #ffffff;
}
span.rvts59
{
 font-size: 11pt;
 font-weight: bold;
 text-decoration: underline;
}
a.rvts60, span.rvts60
{
 font-size: 11pt;
 text-decoration: none;
}
/* ========== Para Styles ========== */
p,ul,ol /* Paragraph Style */
{
 text-align: left;
 text-indent: 0px;
 padding: 0px 0px 0px 0px;
 margin: 0px 0px 0px 0px;
}
.rvps1 /* Centered */
{
 text-align: center;
}
.rvps2
{
 line-height: 1.10;
}
.rvps3
{
}
.rvps4 /* Paragraph Style */
{
 text-align: center;
 border-color: #c0c0c0;
 border-style: solid;
 border-width: 1px;
 border-right: none;
 border-left: none;
 padding: 2px 0px 2px 0px;
 margin: 7px 0px 7px 0px;
}
.rvps5
{
 text-align: center;
}
.rvps6
{
 background: #ffffff;
}
.rvps7
{
 text-align: center;
 background: #ffffff;
}
.rvps8
{
 line-height: 1.07;
 widows: 2;
 orphans: 2;
 margin: 0px 0px 11px 0px;
}
.rvps9
{
 margin: 0px 0px 0px 1px;
}
.rvps10
{
 text-align: center;
}
.rvps11
{
 text-align: center;
 text-indent: 10px;
 line-height: 1.20;
 widows: 2;
 orphans: 2;
 margin: 4px 0px 4px 0px;
}
.rvps12
{
}
.rvps13
{
}
.rvps14
{
 text-align: center;
 text-indent: -30px;
 margin: 0px 0px 0px 30px;
}
.rvps15
{
 text-align: center;
 line-height: 1.20;
 widows: 2;
 orphans: 2;
 margin: 4px 0px 4px 0px;
}
.rvps16
{
 margin: 8px 0px 8px 0px;
}
.rvps17
{
 text-align: center;
}
.rvps18
{
 margin: 0px 0px 0px 10px;
}
.rvps19
{
 text-align: center;
 text-indent: 48px;
 margin: 0px 0px 0px 240px;
}
.rvps20
{
 text-indent: 48px;
 margin: 0px 0px 0px 336px;
}
.rvps21
{
 text-align: center;
 text-indent: -24px;
}
.rvps22
{
 text-indent: 48px;
 margin: 0px 0px 0px 216px;
}
.rvps23
{
 text-indent: 48px;
 margin: 0px 0px 0px 480px;
}
.rvps24
{
 text-indent: 48px;
 margin: 0px 0px 0px 192px;
}
/* ========== Lists ========== */
.list0 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside; list-style-type: disc;}
.list1 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: circle;}
.list2 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: square;}
.list3 {text-indent: 0px; padding: 0; margin: 0 0 0 48px; list-style-position: outside; list-style-type: disc;}
.list4 {text-indent: 0px; padding: 0; margin: 0 0 0 24px; list-style-position: outside;}
.list5 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: circle;}
.list6 {text-indent: 0px; padding: 0; margin: 0 0 0 38px; list-style-position: outside;}
.list7 {text-indent: 0px; padding: 0; margin: 0 0 0 106px; list-style-position: outside; list-style-type: circle;}
.list8 {text-indent: 0px; padding: 0; margin: 0 0 0 58px; list-style-position: outside;}
.list9 {text-indent: 0px; padding: 0; margin: 0 0 0 110px; list-style-position: outside; list-style-type: circle;}
.list10 {text-indent: 0px; padding: 0; margin: 0 0 0 72px; list-style-position: outside; list-style-type: disc;}
.list11 {text-indent: 0px; padding: 0; margin: 0 0 0 115px; list-style-position: outside; list-style-type: circle;}
